* {
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}.padre {
	width: 200px;
	height:200px;
	background-color: #0048FB;
}
.hijo {
	width: 100px;
	height:100px;
	background-color: #387804;
	position:relative;
	left:40px;
	top:40px;
}
.hija {
	width:40px;
	height:40px;
	background-color:#000000;
	position:absolute;
	top:0px;
}